nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav {
    margin-top: 40px;
}

.orange {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.icon-name {
    display: flex;
}

.icon-name .icon {
    width: 86.041px;
    height: 40px;
    padding-top: 54px;
    padding-right: 20px;
}

.banner {
    margin-top: 40px;
    width: auto;
    height: 700px;
    background: aquamarine;

}

.descrip-btn {
    /* width: 40%; */
    padding-top: 90px;
}

.title {
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    padding-left: 80px;
}

.title-des {
    /* text-align: center; */
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    padding-left: 80px;
}

.p1 {
    color: #534C64;
    /* text-align: center; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-left: 80px;
}

.btn {
    padding-left: 80px;
    padding-top: 30px;
}

.all {
    display: flex;

}

.pic {
    padding-left: 350px;
}

/* main section */

.img-add {
    margin-top: 100px;
}

.title-2 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.colourful {
    color: #8758F1;
}

.title-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.img-part {
    display: flex;
}

.img-1 {
    padding-right: 10px;
    padding-left: 40px;
}

.img-2 {
    padding-right: 10px;
}

.img-3 {
    padding-right: 10px;
}

.img-des {
    display: flex;
}

.desp-1 {
    padding-left: 40px;
    padding-right: 160px;
}

.desp-2 {
    padding-right: 140px;
}

.desp-3 {
    padding-right: 210px;
}

.game-instruction {
    margin-top: 130px;
    display: flex;
    margin-bottom: 300px;
}

.with-all {
    position: relative;
}

.with-all img {
    position: absolute;
}

.with-all img:first-child {
    top: 0;
    left: 0;
}


.with-all img:last-child {
    top: 350px;
    left: -150px;

}

.game {
    margin-right: 320px;
    padding-top: 200px;
    padding-left: 200px;
}

.game-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.ano-color {
    color: #F948B2
}

.game-des {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* .button-add .hoise {
    width: 60px;
    height: 60px;
    justify-content: right;
} */

.button-add>.btn-1 {
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 10px;
    font-weight: 600;
    border: solid aquamarine;
    justify-content: center;
    align-items: center;

}

.button-add>.btn-1:hover {
    background-color: aqua;
    color: red;
}

.button-add>.btn-6 {
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 10px;
    font-weight: 600;
    border: solid aquamarine;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.button-add>.btn-6:hover {
    background-color: aqua;
    color: red;
}

.button-add {
    padding-left: 120px;
}

.button-add .hoise {
    padding-left: 0px;
    padding-right: 50px;
}

/* footer section */
.about-game {
    margin-top: 150px;
    background: #0B0223;
    height: 500px;
}

.icon-img-2 {
    display: flex;
    justify-content: center;
}

.nav-title-2 {
    color: #FFF;
    font-size: 45px;
    font-weight: 800;
}

.icon-2 {
    width: 86.041px;
    height: 40px;
    padding-top: 55px;
    padding-right: 20px;
}

.information {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.information>ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

.information li {
    list-style: none;
}

.information a {
    text-decoration: none;
}

.gap-needed-1 {
    padding-right: 50px;
}

.gap-needed-2 {
    padding-right: 50px;
}

.gap-needed-3 {
    padding-right: 50px;
}

.gap-needed-4 {
    padding-right: 50px;
}

.gap-needed-5 {
    padding-right: 50px;
}

.social-icons {
    padding-left: 600px;
}

.fb-img {
    padding-right: 20px;
}

.insta-img {
    padding-right: 20px;
}

.twet-img {
    padding-right: 20px;
}

.you-img {
    padding-right: 20px;
}

.whats-img {
    padding-right: 20px;
}

.social-icons:hover {
    background-color: #534C64;
    color: solid salmon;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.p-1 {
    padding-right: 20px;
}
.p-1:hover {
   color: red;
}

.p-2 {
    padding-right: 20px;
}
.p-2:hover {
    color: red;
 }

.p-3 {
    padding-right: 20px;
}
.p-3:hover {
    color: red;
 }
 .p-4:hover {
    color: red;
 }

.last-pera .last {
    padding-left: 590px;
    color: white;

}